export CHEF_SERVER_URL='YOUR_CHEF_SERVER_URL'
export CHEF_USER_NAME='USER_NAME'
export CHEF_USER_KEY_PATH='PATH_TO_PEM'

export SAKURACLOUD_API_TOKEN='REPLACE_TO_YOUR_TOKEN'
export SAKURACLOUD_API_TOKEN_SECRET='REPLACE_TO_YOUR_TOKEN_SECRET'
export SAKURACLOUD_USER_KEY_ID='REPLACE_TO_YOUR_KEY_ID'
